.box-one {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  background-color: royalblue;
}

.box-one__title{
  color: white;
}

.blue {
  width: 100%;
  height: 150px;
}

.blue__item {
  width: 15%;
  height: 150px;
  background-color: royalblue;
}

.blue-big__item {
  width: 68%;
  height: 150px;
  background-color: royalblue;
}

.bax-two {
  width: 100%;
  height: 200px;
  background-color: royalblue;
}

.wrapper {
  margin-top: 50px;
  height: 500px;
}

.bax-four {
  width: 25%;
}

.content-four {
  width: 100%;
  height: 200px;
  border: 1px solid transparent;
  background-color: royalblue;
}

.box-five__title{
  color: white;
}

.bax-five {
  width: 70%;
  background-color: cornflowerblue;
}

.full-width {
  display: flex;
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: rgba(29, 226, 45, 0.685);
}

.box-five__title{
  color: white;
}

.helf-width {
  display: flex;
  text-align: center;
}

.helf-width__item {
  width: 100%;
  height: 80px;
  border: 1px solid transparent;
  background-color: rgb(56, 178, 248);
}

.thrird__item {
  background-color: rgba(243, 20, 20, 0.473);
}

.two-third {
  display: flex;
  text-align: center;
  width: 100%;
}

.two-third__item {
  width: 70%;
  background-color: rgb(214, 233, 47);
}

.third-two__item {
  width: 25%;
  background-color: rgb(214, 233, 47);
}

.yellow__item {
  background-color: rgb(240, 132, 32);
}

.pink {
  display: flex;
  text-align: center;
  width: 100%;
}

.pink__item {
  width: 75%;
  background-color: rgba(9, 69, 148, 0.795);
}

.pink-content__item {
  width: 20%;
  background-color: rgba(9, 69, 148, 0.795);
}

.white {
  display: flex;
  text-align: center;
  width: 100%;
}

.white__item {
  width: 15%;
  background-color: rgba(185, 185, 185, 0.795);
}

.white-big__item {
  width: 68%;
  background-color: rgba(185, 185, 185, 0.795);
}