.box-one {
  height: 100px;
  border: 5px solid rgb(255, 255, 255);
  background-color: royalblue;
}

.box-one__title {
  color: white;
}

.blue {
  height: 150px;
}

.blue__item {
  height: 150px;
  background-color: royalblue;
  border: 5px solid white;
}

.blue-big__item {
  height: 150px;
  background-color: royalblue;
  border: 5px solid white;
}

.bax-two {
  height: 200px;
  background-color: royalblue;
}

.wrapper {
  width: 100%;
}

.content-four {
  height: 200px;
  border: 1px solid transparent;
  background-color: royalblue;
}

.bax-five {
  width: 100%;
  background-color: cornflowerblue;
}

.box-five__title {
  color: white;
}

.full-width {
  display: flex;
  text-align: center;
  height: 80px;
  background-color: rgba(29, 226, 45, 0.685);
}

.box-five__title {
  color: white;
}

.helf-width {
  display: flex;
  text-align: center;
}

.helf-width__item {
  height: 80px;
  border: 1px solid transparent;
  background-color: rgb(56, 178, 248);
}

.thrird__item {
  background-color: rgba(243, 20, 20, 0.473);
}

.two-third {
  display: flex;
  text-align: center;
}

.two-third__item {
  background-color: rgb(214, 233, 47);
}

.third-two__item {
  background-color: rgb(214, 233, 47);
}

.yellow__item {
  background-color: rgb(240, 132, 32);
}

.pink {
  display: flex;
  text-align: center;
}

.pink__item {
  background-color: rgba(9, 69, 148, 0.795);
}

.pink-content__item {
  background-color: rgba(9, 69, 148, 0.795);
}

.white {
  display: flex;
  text-align: center;
}

.white__item {
  background-color: rgba(185, 185, 185, 0.795);
  border: 2px solid white;
}

.white-big__item {
  background-color: rgba(185, 185, 185, 0.795);
  border: 2px solid white;
}